@charset "UTF-8";
//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "overrides";
@import "app/navbar";
@import "app/scroll-spy";
@import "app/gpu-css";
@import "app/panels";

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
  display: block;
}

html {
  overflow-y: scroll;
}

label {
  font-weight: normal;
  padding-left: .5em;

  &:hover {
    cursor: pointer;
  }
}

.modal {
  overflow-y: inherit;
}

.resources a {
  -ms-word-break: break-all;

   /* Be VERY careful with this, breaks normal words wh_erever */
      word-break: break-all;

   /* Non standard for webkit */
      word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.required {
  color: red;
  font-size: .6em;
}

.tips-container h1 {
  margin-top: 0;
  font-size: 2em;

  @media (min-width: $grid-float-breakpoint) {
    font-size: 3em;
  }
}

.tips-container h3 {
  font-size: 1.5em;

  @media (min-width: $grid-float-breakpoint) {
    font-size: 1.5em;
  }
}
input[type=checkbox] {
    width: 18px;
    height: 18px;

  @media (max-width: $grid-float-breakpoint) {
    width: 22px;
    height: 22px;
  }
}