<!DOCTYPE html>
<html ng-app="TipsApp" lang="en">
<head>
<meta charset="UTF-8">
<title>Find Them</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="Find Them">
<link rel="shortcut icon" href="favicon.ico">
<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="css/app.min.css"> -->
  <!--[if lte IE 8]>
  <script>
    document.createElement('accordion');
    document.createElement('accordion-group');
    document.createElement('accordion-heading');
  </script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <![endif]-->

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body ng-controller="TipsCtrl" data-scrollspy data-scrollspy-offset="0">
<div class="wrap">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>Menu
          </button>
          <a class="navbar-brand" href="./">Find Them <span style="color:red!important; font-weight:bold">DEMO</span></a>
        </div>
        <div class="collapse navbar-collapse" collapse="navCollapsed" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="" ng-click="openInfo(); navCollapsed = true"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
            <li><a class="" ng-click="openStartOver(); navCollapsed = true"><i class="glyphicon glyphicon-repeat"></i>  Start Over</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container main">
    <div collapse="isTypeClosed">
      <div class="row">
        <div class="col-sm-4">
          <p><a class="btn btn-primary btn-lg btn-block" ng-click="isMc()">Missing Child</a></p>
        </div>
        <div class="col-sm-4">
          <p><a class="btn btn-primary btn-lg btn-block" ng-click="isMcs()">Missing College Student</a></p>
        </div>
        <div class="col-sm-4">
          <p><a class="btn btn-primary btn-lg btn-block" ng-click="isMva()">Missing Vulnerable Adult</a></p>
        </div>
      </div>
    </div>
    <div collapse="isCircClosed" class="circ-container collapse">
      <accordion close-others="true">
        <accordion-group is-open="$parent.isCircPanelOpen">
          <accordion-heading>
            <i class="glyphicon" ng-class="{'glyphicon glyphicon-minus': isCircPanelOpen, 'glyphicon glyphicon-plus': !isCircPanelOpen}"></i> <span  ng-click="closeTips();">Choose Circumstances</span>
          </accordion-heading>
          <div class="col-sm-4">
            <fieldset>
            <legend>Age <span class="required">* required</span></legend>
              <p><input type="checkbox" ng-model="ages.ayc" ng-click="isAgeSelected = true; ages.ac = false; ages.aa = false" id="young-child"><label for="young-child">Young Child 0-12</label></p>
              <p><input type="checkbox" ng-model="ages.ac" ng-click="isAgeSelected = true; ages.ayc = false; ages.aa = false" id="child"><label for="child">Child 13-17</label></p>
              <p><input type="checkbox" ng-model="ages.aa" ng-click="isAgeSelected = true; ages.ayc = false; ages.ac = false" id="adult"><label for="adult">Adult 18 and over</label></p>
            </fieldset>
          </div>
          <div class="col-sm-4">
            <fieldset>
            <legend>Health and Safety</legend>
              <p><input type="checkbox" ng-model="circs.alz" id="alz"><label for="alz">Alzheimers/Dementia</label></p>
              <p><input type="checkbox" ng-model="circs.dd" id="disabled"><label for="disabled">Developmentally Disabled</label></p>
              <p><input type="checkbox" ng-model="circs.ds" id="suicidal"><label for="suicidal">Despondent/Suicidal</label></p>
              <p><input type="checkbox" ng-model="circs.aut" id="autism"><label for="autism">Autism</label></p>
              <p><input type="checkbox" ng-model="circs.med" id="medical"><label for="medical">Medical Conditions</label></p>
            </fieldset>
          </div>
          <div class="col-sm-4">
            <fieldset>
            <legend>Situational</legend>
              <p><input type="checkbox" ng-model="circs.abd" id="abduction"><label for="abduction">Abduction</label></p>
              <p><input type="checkbox" ng-model="circs.run" id="runaway"><label for="runaway">Runaway</label></p>
              <p><input type="checkbox" ng-model="circs.unk" id="unknown"><label for="unknown">Unknown</label></p>
              <p><input type="checkbox" ng-model="circs.lwa" id="lost"><label for="lost">Lost/Wandered Away</label></p>
              <p><input type="checkbox" ng-model="circs.veh" id="vehicle"><label for="vehicle">In a Vehicle</label></p>
              <p><input type="checkbox" ng-model="circs.oft" id="onfoot"><label for="onfoot">On Foot</label></p>
            </fieldset>
          </div>
          <div class="col-xs-12">
            <p><a class="btn btn-lg btn-success btn-block" ng-click="step2(); toTop(true);" ng-class="{'disabled' : !ages.ayc &amp;&amp; !ages.ac &amp;&amp; !ages.aa}">View List</a></p>
          </div>
        </accordion-group>
      </accordion>
    </div>
    <div collapse="isTipsClosed" class="tips-container collapse" scroll-spy>
      <div class="row">
        <div class="col-sm-4 col-xs-12 tips-nav-container">
          <nav class="navbar navbar-default scroll-spy-nav" role="navigation" id="nav" data-scrollspy-nav>
            <div class="container-fluid">
              <ul class="nav nav-pills nav-stacked hidden-xs">
                <li data-scrollspy-listen="tips"><a href="#tips" class="">Tips</a></li>
                <li data-scrollspy-listen="resources"><a href="#resources" class="">Resources</a></li>
                <li><a ng-click="toTop()"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</a></li>
              </ul>
              <a href="#tips" data-scrollspy-listen="tips" class="btn btn-default navbar-btn hidden-sm hidden-md hidden-lg ">Tips</a>
              <a href="#resources" data-scrollspy-listen="resources" class="btn btn-default navbar-btn hidden-sm hidden-md hidden-lg ">Resources</a>
              <a class="btn btn-default navbar-btn hidden-sm hidden-md hidden-lg pull-right" ng-click="toTop()"><span class="glyphicon glyphicon-chevron-up"></span> Top</a>
            </div>
          </nav>
        </div>
        <div class="col-sm-8 col-xs-12">
          <div data-scrollspy-broadcast id="tips" class="scroll-spy-padding">
            <h1>Tips</h1>
            <p><span class="show-for-small-only"></span></p>
            <accordion close-others="false">
              <accordion-group is-open="isopen" ng-repeat="tip in tips | circFilter:circs | ageFilter:ages | typeFilter:types">
                <accordion-heading>
                  <span class="glyphicon-full-height">
                    <i class="glyphicon" ng-class="{'glyphicon-minus': isopen, 'glyphicon-plus': !isopen}"></i>
                    </span>
                    {{tip.title}}
                </accordion-heading>
                {{tip.detail}}<br>
                <a href="{{tip.link}}" target="_blank">{{tip.linkText}}</a>
              </accordion-group>
            </accordion>
          </div>
          <div data-scrollspy-broadcast id="resources" class="scroll-spy-padding resources">
            <h1>Resource Contacts</h1>
            <div class="contact" ng-repeat="resource in resources">
              <h3>{{resource.name}}</h3>
              <p><b>For help with:</b> {{resource.details}}</p>
              <p ng-if="resource.phn"><span class="glyphicon glyphicon-earphone"></span> <a href="tel:{{resource.phn}}">{{resource.phn}}</a></p>
              <p ng-if="resource.url"><span class="glyphicon glyphicon-globe"></span> <a href="{{resource.url}}" target="_blank">{{resource.url}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p><b>Disclaimer:</b></p>
        <p class="disclaimer"><b>This tips and resource web application is for law enforcement agency use only</b>. It has been prepared to assist officers in their investigation and search of missing persons by providing guidance and possible strategies to consider, especially in the initial stages. The resources listed are not to be considered a complete listing, but rather suggested resources. It is not intended to dictate agency policy nor does it purport to contain the only acceptable practices for such investigations. This web application is not meant for civilian use. <em>Anyone who has a family member who has gone missing should contact law enforcement in their community to make a report</em>.</p>
      </div>
    </div>
  </div>
</footer>
<script src="js/fastclick.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script>
if (Element.prototype.addEventListener) {
  window.addEventListener('load', function() {
    FastClick.attach(document.body);
  }, false);
}
</script>
<script src="js/findthem.min.js"></script>
<script id="startover.htm" type="text/ng-template">
<div class="modal-header">
    <h3>Are you Sure?</h3>
</div>
<div class="modal-body">
    <p>You will lose all changes you have made!</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">No</button>
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
</div>
</script>
<script id="about.htm" type="text/ng-template">
<div class="modal-header">
  <h3>About "Find Them"</h3>
  <p><em>A Missing Person Investigation Tips/Tools Web Application for Law Enforcement</em></p>
</div>
<div class="modal-body">
  <p>The New York State Missing Person Clearinghouse created this mobile device-friendly web application to assist law enforcement officers with the investigation and search for a missing person</p>
  <p>Designed to be used by first responders and investigators, the web app generates a list of suggested tips and resources, based on conditions and circumstances selected by officers that are applicable to the case they are handling.</p>
  <p>Time plays a critical role in the effort to safely locate a missing person, especially a child or adult who may have cognitive impairments or disabilities that put them at credible risk of harm.</p>
  <p>Consider these statistics, which underscore the importance of a rapid response to these cases:</p>
  <ul>
    <li>76 percent of children who are abducted and killed are murdered within the first three hours of their disappearance.</li>
    <li>91 percent of the deaths of children with autism who are 14 and younger in the United States happen while those children are missing.</li>
    <li>46 percent of adults with Alzheimer’s disease who go missing and are not found within 24 hours are found deceased.</li>
  </ul>
  <p>For more information, contact the Clearinghouse:<br>
    <a href="tel:1-800-346-3543">1-800-346-3543</a><br>
    <a href="mailto:missingpersons@djcs.ny.gov">MissingPersons@djcs.ny.gov</a></p>
  <p><small>&copy; 2014 - NYS Division of Criminal Justice Services</small></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Close</button>
</div>
</script>
</body>
</html>