.scroll-spy-nav {
  top: 0;
  margin-bottom: 0;

  @media (min-width: 768px) {
    top: 1em;
    padding-left: 0;
    padding-right: 0;

    ul {
      margin:1em 0;
    }
  }
}

.tips-nav-container {
  height: 55px;
}

.scroll-spy-padding {
  padding-top: 2.5em;

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 0;
  }
}